$primaryColor: #088178;
$secondaryColor: #4dc7b8;
$secondaryHoverColor: #15696c;
$titleColor: #1c797d;
$textColor: #2f9d8d;
$cardBackgroundColor: #E7E9F4;
$backgroundColor: #F5F5F5;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dashboardSlider{
    display: flex;
    justify-content: space-between;
    background-color: $primaryColor;
    padding: .5rem 2rem;
    border-radius: 0 0 1rem 1rem;
    .btn{
        display: flex;
        gap: 10px;
        border: none;
        color: #fff;
        font-weight: 500;
        // font-size: 17px;
    }
    .sliderTop{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        h1{
            font-size: 25px;
            margin: 0;
            color: white;
        }
    }
    .sliderMiddle{
        display: flex;
        gap: 1rem;
        button{
            display: flex;
            white-space: nowrap;
            align-items: center;
            gap: 10px;
            .icon{
                display: flex;
                width: 20px;
                height: 20px;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .sliderBottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    }
}