$primaryColor: #088178;
$secondaryColor: #4dc7b8;
$secondaryHoverColor: #15696c;
$titleColor: #1c797d;
$textColor: #2f9d8d;
$cardBackgroundColor: #E7E9F4;
$backgroundColor: #F5F5F5;
$a1: rgba(71, 83, 135, 0.200);
$a2: rgba(245, 245, 245, 0.200);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes move {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-bottom: 1px solid $a2;
    background-color: $primaryColor;
    height: 70px;
    .navbarRight{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbarLeft{
        display: flex;
        justify-content: center;
        align-items: bottom;
        gap: 1rem;
        .routerLinks{
            .link{
                font-size: 18px;
                cursor: pointer;
                padding: 5px 2px;
                color: #fff;
                text-decoration: none;
                &:hover{
                    position: relative;
                    &::after{
                        content: '';
                        border-radius: 30px;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $secondaryColor;
                        animation: move 1s;
                    }
                }
            }
        }
        ul{
            list-style-type: none;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .buttons{
            display: flex;
            gap: 1rem;
            .btn{
                background-color: $secondaryColor;
                color: #fff;
                font-weight: 500;
                box-sizing: border-box;
                &:hover{
                    background-color: $secondaryHoverColor;
                    // box-shadow: inset 2px 2px 1rem $secondaryColor, inset -2px -2px 1rem $secondaryColor;
                    // transition: all .3s ease;
                }
            }
        }
    }
}